<footer class="fdb-block footer">
  <div class="container">
    <div class="row text-center">
      <div class="col"><h3>James Richards</h3></div>
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        <p class="lead">
          <a href="https://github.com/biffyn" class="mx-2" aria-label="Find me on Github"
            ><i class="fab fa-github"></i
          ></a>
          <a href="https://www.linkedin.com/in/james-richards/" class="mx-2" aria-label="Find me on Linkedin"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://twitter.com/JRichardsWeb" class="mx-2" aria-label="Follow me on Twitter"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="mailto:james@jamesrichards.io" class="mx-2" aria-label="Send me an email"
            ><i class="far fa-envelope"></i
          ></a>
        </p>
      </div>
    </div>
    <p class="text-center">Made by James Richards © {{ now.Year }}</p>
  </div>
</footer>
