<footer class="fdb-block footer">
  <div class="container">
    <div class="row text-center">
      <div class="col"><h3>James Richards</h3></div>
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        <p class="lead">
          <a href="https://github.com/biffyn" class="mx-2"><i class="fab fa-github" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/james-richards/" class="mx-2"
            ><i class="fab fa-linkedin" aria-hidden="true"></i
          ></a>
          <a href="https://twitter.com/JRichardsWeb" class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a href="mailto:james@jamesrichards.io" class="mx-2"><i class="far fa-envelope" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
    <p class="text-center">Made by James Richards © {{ now.Year }}</p>
  </div>
</footer>
