<section class="fdb-block hero">
  <div class="container align-items-center justify-content-center d-flex">
    <div class="row align-items-center text-left">
      <div class="col-12 col-sm-6">
        <picture>
          <source srcset="img/people/5.webp" type="image/webp" />
          <source srcset="img/people/5.jpg" type="image/jpeg" />
          <img class="img-fluid" src="img/people/5.jpg" alt="James Richards | Web Developer" />
        </picture>
      </div>

      <div class="col-12 col-lg-5 ml-auto pt-5 pt-lg-0">
        <h1>Hi there, I’m James.</h1>
        <p class="lead">
          I am a developer based in Osnabrück. Currntly at <a href="https://www.lm-ag.de/">LM IT Services AG</a>. When
          I'm not building things for the web I'm probably running, distiling or drinking gin.
        </p>
      </div>
    </div>
  </div>
</section>
