<section id="projects" class="fdb-block section-seperator">
  <div class="container">
    <div class="row text-center">
      <div class="col-12"><h1>Projects 👨‍💻</h1></div>
    </div>
  </div>
</section>

<section class="fdb-block projects">
  <div class="container py-5">
    <div class="row">
      <div class="col py-2">
        <div class="fdb-box">
          <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
              <picture>
                <source srcset="img/blue-sky-logo.webp" type="image/webp" />
                <source srcset="img/blue-sky-logo.jpg" type="image/jpeg" />
                <img
                  class="img-fluid img-rounded img-shadow"
                  src="img/blue-sky-logo.jpg"
                  alt="Blue Sky A Flutter Waether App"
                />
              </picture>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
              <h2>Blue Sky</h2>
              <p>Flutter / Dart / Google Cloud Functions</p>
              <p class="lead">Native mobile app built with the Flutter framework.</p>
              <p class="mt-4">
                <a class="btn btn-dark ml-3" href="https://github.com/Biffyn/">
                  <i class="fab fa-github" aria-hidden="true"></i> Code</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row ">
      <div class="col py-2">
        <div class="fdb-box">
          <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
              <picture>
                <source srcset="img/cedar-tree-pods-logo.webp" type="image/webp" />
                <source srcset="img/cedar-tree-pods-logo.jpg" type="image/jpeg" />
                <img
                  class="img-fluid img-rounded img-shadow"
                  src="img/cedar-tree-pods-logo.jpg"
                  alt="Cedar Tree Pods | Glamping Pods"
                />
              </picture>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
              <h2>Cedar Tree Pods</h2>
              <p>HTML / CSS / JS / PHP</p>
              <p class="lead">
                A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
                paradisematic country, in which roasted parts of sentences fly into your mouth.
              </p>
              <p class="mt-4">
                <a class="btn btn-primary" href="https://cedartreepods.co.uk/">View Project</a>
                <a class="btn btn-dark ml-3" href="https://github.com/Biffyn/">
                  <i class="fab fa-github" aria-hidden="true"></i> Code</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row ">
      <div class="col py-2">
        <div class="fdb-box">
          <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
              <picture>
                <source srcset="img/icons/icon-512x512.webp" type="image/webp" />
                <source srcset="img/icons/icon-512x512.png" type="image/png" />
                <img class="img-fluid img-rounded img-shadow" src="img/icons/icon-512x512.png" alt="JamesRichards.io" />
              </picture>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
              <h2>JamesRichards.io</h2>
              <p>⚡ PWA / Angular Elements / Firebase / Hugo ⚡</p>
              <p class="lead">
                My personal website built using a combination of modern front-end technologies to provide high
                performance ⚡ .. First Contentful Paint in under 1.5s 🔥.
              </p>
              <p class="mt-4">
                <a class="btn btn-dark ml-3" href="https://github.com/Biffyn/jamesrichards.io">
                  <i class="fab fa-github" aria-hidden="true"></i> Code</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
