<section class="fdb-block py-0">
  <div class="container py-4">
    <div class="row py-5">
      <div class="col py-5">
        <div class="fdb-box fdb-touch">
          <div class="row text-center justify-content-center">
            <div class="col-12 col-md-9 col-lg-7">
              <p class="lead pb-3">
                Feel free to drop me a “Hey or Hallo”, write me a
                <a href="https://twitter.com/JRichardsWeb">tweet</a>, or send me an
                <a href="mailto:james@jamesrichards.dev">email.</a>
              </p>
            </div>
          </div>
          <form [formGroup]="contactForm" (submit)="onSubmit()">
            <div class="row">
              <div class="col-12 col-md">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Name"
                  placeholder="Name"
                  required
                  aria-required="true"
                  attr.aria-invalid="{{ (name.dirty || name.touched) && name.invalid ? true : false }}"
                  aria-errormessage="name-required"
                  formControlName="name"
                  [ngClass]="{ 'is-invalid': (name.dirty || name.touched) && name.invalid }"
                />
                <div
                  *ngIf="(name.dirty || name.touched) && name.invalid && !!name.errors.required"
                  class="invalid-feedback"
                >
                  <div id="name-required">Name is required</div>
                </div>
              </div>
              <div class="col-12 col-md mt-4 mt-md-0">
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  placeholder="Email"
                  aria-label="Enter your email addrtessEmail"
                  formControlName="email"
                  required
                  aria-required="true"
                  attr.aria-invalid="{{ (email.dirty || email.touched) && email.invalid ? true : false }}"
                  aria-errormessage="valid-email"
                  autocomplete="off"
                  [ngClass]="{ 'is-invalid': (email.dirty || email.touched) && email.invalid }"
                />
                <div *ngIf="(email.dirty || email.touched) && email.invalid" class="invalid-feedback">
                  <div *ngIf="(email.dirty || email.touched) && email.invalid && !!email.errors.required">
                    Email is required
                  </div>
                  <div id="valid-email" *ngIf="(email.dirty || email.touched) && email.invalid && !!email.errors.email">
                    The entered vale must be a valid email address
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  aria-label="Subject (optional but helpful)"
                  aria-required="false"
                  placeholder="Subject"
                  formControlName="subject"
                />
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <textarea
                  class="form-control"
                  name="message"
                  rows="3"
                  aria-label="Meassage"
                  placeholder="..."
                  required
                  aria-required="true"
                  attr.aria-invalid="{{ (message.dirty || message.touched) && message.invalid ? true : false }}"
                  aria-errormessage="message-required"
                  formControlName="message"
                  [ngClass]="{
                    'is-invalid': (message.dirty || message.touched) && message.invalid
                  }"
                ></textarea>
                <div
                  id="message-required"
                  class="invalid-feedback"
                  *ngIf="(message.dirty || message.touched) && message.invalid && !!message.errors.required"
                >
                  Message is required
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col text-center">
                <button role="button" type="submit" [disabled]="!contactForm.valid" class="btn btn-primary">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
