{{ define "main" }}

<section class="fdb-block compact">
  <div class="container align-items-center justify-content-center d-flex">
    <div class="row align-items-center text-left">
      <div class="col-12 col-sm-6">
        <picture>
          <source srcset="img/people/5.webp" type="image/webp" />
          <source srcset="img/people/5.jpg" type="image/jpeg" />
          <img class="img-fluid" src="img/people/5.jpg" alt="James Richards | Web Developer" />
        </picture>
      </div>

      <div class="col-12 col-lg-5 ml-auto pt-5 pt-lg-0">
        <h1>Hi there, I’m James.</h1>
        <p class="lead">
          I am a developer based in Osnabrück. Currntly at <a href="https://www.lm-ag.de/">LM IT Services AG</a>. When
          I'm not building things for the web I'm probably running, distiling gin or drinking gin.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-5"><h2>Get in touch</h2></div>

      <div class="col-12 col-md-6 ml-auto pt-5 pt-md-0">
        <form>
          <div class="row">
            <div class="col"><input type="text" class="form-control" placeholder="Name" /></div>
          </div>

          <div class="row mt-4">
            <div class="col"><input type="email" class="form-control" placeholder="Email" /></div>
          </div>

          <div class="row mt-4">
            <div class="col"><input type="email" class="form-control" placeholder="Subject" /></div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <textarea class="form-control" name="message" rows="3" placeholder="Your message..."></textarea>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col d-block d-sm-none">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            <div class="col d-none d-sm-block"><button type="submit" class="btn btn-primary">Submit</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}
