@import '../mixins.scss';

@mixin color-box($bg) {
  background: var(--#{$bg});
  color: white;
  h3 {
    color: white;
  }
  .box-icon {
    background: var(--#{$bg}-dark);
    color: white;
  }
}

.box {
  background: var(--nav-bg);
  color: var(--h-color);
  display: flex;
  min-height: 100px;
  margin: 0.5em 0;
  // box-shadow: var(--card-shadow);
  .box-icon {
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    width: 10%;
    min-width: 3em;
    max-width: 5em;
    svg {
      width: 33%;
      opacity: 0.5;
    }
  }
  .box-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: flex-start;
    h2,
    h3,
    h4,
    a {
      color: currentColor;
      border: none;
      margin: 0;
    }
    a {
      text-decoration: underline;
    }
  }
}

.box-sm {
  font-size: 0.9em;
  min-height: 0;
  p {
    margin: 0.1em;
  }
  .box-content {
    padding: 0.3em;
  }
}

.box-red {
  @include color-box('red');
}
.box-green {
  @include color-box('green');
}
.box-orange {
  @include color-box('orange');
}
.box-blue {
  @include color-box('blue');
}

.notification {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 9999;
  margin: 0;

  &.hide {
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  p {
    color: #fff;
  }
}

.notification-close {
  position: absolute;
  right: 1em;
  color: #fff;
  text-transform: uppercase;
}
