.btn {
  &.lead {
    text-transform: uppercase;
  }
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
}

.btn-primary {
  color: #fff;
  background: #8e2de2;
  background: -webkit-linear-gradient(to top left, #4a00e0, #8e2de2);
  background: linear-gradient(to top left, #4a00e0, #8e2de2);
  border-color: transparent;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background: #8e2de2;
  background: -webkit-linear-gradient(to top left, #4a00e0, #8e2de2);
  background: linear-gradient(to top left, #4a00e0, #8e2de2);
  border-color: transparent;
}
